@charset "UTF-8";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(255, 255, 255, 0.87);

    overflow-x: hidden;
}

header {
    text-align: center;

    background-color: rgb(66, 43, 196);
    color: white;
}

header> h1 {
    text-align: center;
    padding: 20px;
}

i#burger {
    font-size: 25px;
    padding: 5px;

    cursor: pointer;

    background-color: rgb(63, 45, 170);
    width: 100vw;
}

menu#itens {
    display: none;
    width: 100vw;
}

menu > ul > li > a {
    border-top: 1px solid rgba(106, 116, 245, 0.37);
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgb(77, 55, 202);
    
}

menu > ul > li > a:hover {
    background-color: rgb(63, 45, 170);
    transition: ease-out 1s;
}

ul {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(29, 29, 94, 0.507);
}

main {
    margin: auto;
    width: 92vw;
    border-radius: 7px;

    padding: 10px;
    margin-top: 20px;

    background-color: rgba(231, 231, 231, 0.603);
}

main > div {
    margin-top: 20px;
}

footer {
    background-color: rgb(72, 87, 228);
    text-align: center;

    padding: 20px 0px;
    transform: translateY(1vh);
}